$breakpoints: (
  "iphonePhoneSE" : 376px,
  "verySmallPhone" : 390px,
  "iphonePhone": 391px,
  "isiPhone": 429px,
  "smallPhone": 575px,
  "phone": 768px,
  "tablet": 1024px,
  "bigTablet": 1200px,
  "bigTabletMedium": 1250px,
  "smallDesktop": 1366px,
  "mediumDesktop": 1440px,
  "largeDesktop": 1600px,
  "xlargeDesktop": 1920px,
  "extralargeDesktop": 2560px,
);

$mainWrapper: 1440px;
$rootFontFamily: "Inter", sans-serif;
$rootFontFamilyItalic: "Inter Tight", sans-serif;

$fontWeightLight: 300;
$fontWeightNormal: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
$fontWeightExtraBold: 800;
$fontWeightBlack: 900;

$fontSize9: 9px;
$fontSize10: 10px;
$fontSize10: 11px;
$fontSize12: 12px;
$fontSize12: 13px;
$fontSize14: 14px;
$fontSize15: 15px;
$fontSize16: 16px;
$fontSize17: 17px;
$fontSize18: 18px;
$fontSize20: 20px;
$fontSize22: 22px;
$fontSize24: 24px;
$fontSize25: 25px;
$fontSize26: 26px;
$fontSize28: 28px;
$fontSize30: 30px;
$fontSize32: 32px;
$fontSize34: 34px;
$fontSize35: 35px;
$fontSize48: 48px;
$fontSize55: 55px;

$lineHeight14: 14px;
$lineHeight15: 15px;
$lineHeight18: 18px;
$lineHeight22: 22px;
$lineHeight23: 23px;
$lineHeight24: 24px;
$lineHeight33: 33px;
$lineHeight36: 36px;
$lineHeight100: 100%;
$lineHeight120: 120%;
$lineHeight130: 130%;
$lineHeight135: 135%;
$lineHeight140: 140%;
$lineHeight145: 145%;
$lineHeight150: 150%;

$white: #ffffff;
$black: #000000;
$bodyCopy: #212121;
$primaryColor: #49A942;
$primaryColorAlpha07: #49a94267;
$secondaryColor: #33632E;
$acentColor: rgba(255, 255, 255, 0.30);
$bdr: #BDBDBD;
$logoBdr: #E8E8E8;
$textShadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.25);