.brandFooter {
    background: $white;

    &__upperContent {
      p {
        color: $listItem;
        font-size: $fontSize15;
        font-weight: $fontWeightNormal;
        line-height: $lineHeight23;
        margin: 10px 0;

        &:nth-of-type(1) {
          margin: 30px 0 10px;
        }

        &:nth-of-type(4) {
          margin: 10px 0 20px;
        }
      }

      .logo {
        width: 217px;
        margin-bottom: 20px;
        img {
          width: 100%;
          object-fit: cover;
        }

        @include media('<=tablet') {
          width: 194px;
          margin-bottom: 15px;
        }
      }
    }
  
    &__disclaimer {
      border-top: 1px solid $bdr;
      padding: 15px 16px;
      text-align: center;
      width: 100%;
      @include media('>=phone'){
        text-align: left;
      }
      @include media('>tablet'){
        padding: 15px 48px;
      }
      p {
        color: $bodyCopy;
        font-size: $fontSize15;
        line-height: $lineHeight23;
        @include media('>tablet'){
          font-size: $fontSize16;
        }
      }
    }
  
    &__lowerContent {
      display: flex;
      padding: 10px 0;
      font-size: $fontSize14;
      line-height: $lineHeight140;
      flex-direction: column-reverse;
      align-items: center;
      @include media('>=phone') {
        flex-direction: row;
        padding: 10px 20px;
      }
  
      p {
        color: $black;
        font-size: $fontSize14;
        line-height: $lineHeight120;
        font-weight: $fontWeightNormal;
      }
  
      a {
       margin: 0 9px;
        color: $black;
        display: inline-block;
        font-size: $fontSize14;
        text-underline-offset: 3px;
        line-height: $lineHeight120;
        font-weight: $fontWeightNormal;
  
        &:hover {
          text-decoration: none;
        }
        @include media('>=phone'){
          margin: 0 0 0 30px;
        }
      }   
  
      .bottomLinks {
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
  
        @include media('>=phone') {
          display: block;
          margin-bottom: 0;
        }
      }
  
      @include media('<=phone') {
        text-align: center;
      }
    }
  
    &__lower {
      border-top: solid 1px $bdr;
      background: $white;
    }
  }
  