.isi {
    border-top: 3px solid $primaryColor;
    padding-top: 15px;
    
    &__Wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    &__indication {
        flex: 45%;
        max-width: 485px;
    }

    &__safety {
        flex: 45%;
        max-width: 485px;

       .heading {
        color: #33632E;
        font-size: $fontSize16;
        font-weight: $fontWeightSemiBold;
        line-height: normal;

        &:nth-of-type(1) {
            margin-top: 12px;
        }
        &:nth-of-type(2) {
            margin-bottom: 15px;
        }
       }
       .subHeading {
        color: $des;
        font-size: $fontSize16;
        font-weight: $fontWeightSemiBold;
        line-height: normal;
        padding-top: 15px;
        border-top: 1px solid $isiBdr;

        &:nth-of-type(7) {
            padding-top: 20px;
            border-top: none;
            color: $secondaryColor;
        }
       }
    }

    .title {
        color: $secondaryColor;
        font-size: $fontSize20;
        font-weight: $fontWeightSemiBold;
        line-height: $lineHeight36;
        padding-bottom: 12px;
        border-bottom: 1px solid $isiBdr;
    }

    .des {
        color: $listItem;
        font-size: $fontSize15;
        font-weight: $fontWeightNormal;
        line-height: $lineHeight23;
        margin: 10px 0 15px;
    }
}