.hero {
    width: 100%;
    height: 263px;
    background: url('../../../Assets/Img/hero/hero-background-lg.jpg') no-repeat;
    display: flex;
    justify-content: space-between;

    @include media('<tablet') {
        height: 230px;
    }
    @include media('<=smallPhone') {
        height: auto;
        background: url('../../../Assets/Img/hero/hero-background-sm.jpg') no-repeat;
        background-size: cover;
        flex-direction: column;
    }

    &__text {
        max-width: 617px;
        padding-top: 48px;

        @include media('<tablet') {
            max-width: 386px;
        }
        @include media('<=smallPhone') {
            max-width: 100%;
            margin-bottom: 15px;
        }

        .title {
            color: $white;
            font-size: $fontSize35;
            font-weight: $fontWeightBold;
            line-height: $lineHeight145;
            padding: 13px 84.5px 13px 49px;
            border-radius: 0px 10px 10px 0px;
            background: $primaryColor;
            box-shadow: $textShadow;
            margin-bottom: 21px;
            width: auto;

            @include media('<tablet') {
                font-size: $fontSize20;
                padding: 6px 34.5px 6px 15px;
                margin-bottom: 10px;
            }
            @include media('<=smallPhone') {
                padding: 10px 17px 17px;
                margin-bottom: 16px;
                line-height: $lineHeight33;
                max-width: 345px;
            }
        }
    
        .des {
            color: $white;
            font-size: $fontSize24;
            font-weight: $fontWeightBold;
            line-height: $lineHeight130;
            max-width: 569px;
            margin-left: 48px;

            @include media('<tablet') {
                font-size: $fontSize18;
                max-width: 350px;
                margin-left: 18px;
            }
            @include media('<=smallPhone') {
                font-size: $fontSize20;
                max-width: 90%;
            }
        }
    }

    &__image {
        max-width: 420px;
        padding-right: 59px;
        display: flex;

        .people {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include media('<tablet') {
            padding-right: 39px;
        }
        @include media('<=phone') {
            padding-right: 10px;
            max-width: none;
        }
        @include media('<=smallPhone') {
            padding-right: 15px;
            width: 100%;
        }
    }
}